@charset "UTF-8";
#skip {position: relative;}
#skip a:active,#skip a:focus{top: 0;}
.r_color{color: #d84048;}

#wrap {width: 100%;text-align: center;}
.header_top_line {width: 100%;border-bottom: 1px solid #e6e8eb;}
.header_top_line>.inner{display: flex;justify-content: space-between;height: 44px;position: relative;}
.header_top_line .siteutil, .header_top_line .site_menu{display: flex;align-items: center;}
.header_top_line .siteutil>div{padding: 0 20px;line-height: 1;border-right: 1px solid #ececec;display: flex;align-items: center;height: 100%;}
.header_top_line .siteutil>div:first-child{border-left: 1px solid #ececec;}

.header_top_line .site_menu{padding-right: 180px;}
.header_top_line .site_menu>div{margin-left: 18px;}
.header_top_line .site_menu>div a{display: flex;align-items: center;}
.header_top_line .site_menu>div>a::before{background-repeat: no-repeat;background-position: 0 0;display: inline-block;background-size: cover;margin-right: 7px;}
div.login a::before{content: '';background-image: url(../img/ico_siteLogin.png);width: 14px;height: 19px;}
div.join a::before{content: '';background-image: url(../img/ico_siteJoin.png);width: 13px;height: 18px;}
div.lang a::before{content: '';background-image: url(../img/ico_siteLangs.png);width: 17px;height: 17px;}

.family_site{position: absolute;right: 0;}
.family_site a{display: flex;width: 150px;height: 44px;font-size: 17px;align-items: center;line-height: 1;background: #636676;border-radius: 0 0 10px 10px;letter-spacing: -.5px;color: #fff;justify-content: center;}
.family_site a::before{content: "";display: inline-block;background: url(../img/ico_onceView.png)no-repeat 0 0;width: 15px;height: 15px;margin-right: 9px;}
/* ===== //header_top_line ====== */

.gnb_line {width: 100%;border-bottom: 1px solid #e8e8e8;position: relative;}
.gnb_line > .inner{display: flex;justify-content: space-between;align-items: center;}
h1{margin-top: -3px;}
.header_logo {width: 139px;height: 47px;background: url(../img/logo.png);}

.gnb {text-align: center;height: 95px;padding-top: 10px;display: flex;align-items: center;box-sizing: border-box;margin-right: -230px;}
.gnb li a{padding: 0 29px;display: flex;align-items: center;justify-content: center;font-size: 21px;color: #222;font-weight: bold;font-family: 'Nanum Gothic', sans-serif;}
.gnb>li:hover>a, .gnb>li:focus>a {color: #3a82b6;}
.gnb>li:hover>a::after, .gnb>li:focus>a::after {content: ''; position: absolute; left: 50%; margin-left: -4px; bottom: -5px; width: 8px; height: 8px; background: #3a82b6; border-radius: 50%; z-index: 3;}
.width100 {width: 100%;position: absolute;background-color: #ffffff;z-index: 10;left: 0;top: 96px;height: 0;overflow: hidden;transition: all .5s;}
.gnb li:hover .width100 {height: auto;padding: 20px 0;box-shadow: 0 2px 2px rgba(0,0,0,.5);border-bottom: 1px solid #c9c9c9;}
.m_width {width: 1400px;margin: 0 auto;padding: 30px 0;}
.m_width>li {width: 216px;height: 231px;margin-left: 30px;margin-bottom: 5px;}
.m_width>li>a {display: block;padding: 7px 15px;font-size: 15px;color: #000;text-align: left;border: 1px solid #c5c9d6;border-radius: 5px;line-height: 25px;}
.m_width>li>ul {margin: 9px 0 15px;}
.m_width>li>ul li {line-height: 24px;}
.m_width>li>a:hover {color: #3a82b6; border: 1px solid #3a82b6; background: url(../img/gnb_arrow02.png) no-repeat center right 20px;}
.m_width>li>ul li a {display: block;font-size: 14px;color: #555;padding: 0 0 1px 35px;text-align: left;position: relative;}
.m_width>li>ul li a:hover {color: #3a82b6; text-decoration: underline;}
.m_width>li>ul li a:before {content: '';position: absolute;left: 20px;top: 10px;width: 3px;height: 3px;background: #c5c9d6;border-radius: 50%;}
.m_width>li:nth-child(1){margin-left: 0;}
.gnb1 .m_width>li:nth-child(6) {margin-left: 0;}
.gnb1 .m_width>li:nth-child(n+6) a {background: none;}
.gnb2 .m_width>li:nth-child(6),.gnb2 .m_width>li:nth-child(11) {margin-left: 0;}
.gnb2 .m_width>li:nth-child(n+6):nth-child(-n+13) {height: auto;}
.gnb2 .m_width>li:nth-child(1) a,.gnb2 .m_width>li:nth-child(2) a,.gnb2 .m_width>li:nth-child(n+5):nth-child(-n+10) a,.gnb2 .m_width>li:nth-child(12) a {background: none;}
.gnb3 .m_width>li:nth-child(6) {margin-left: 0;}
.gnb3 .m_width>li:nth-child(4) a,.gnb3 .m_width>li:nth-child(5) a,.gnb3 .m_width>li:nth-child(8) a {background: none;}
.gnb3 .m_width>li:nth-child(n+6) {height: auto;}
.gnb4 .m_width>li:nth-child(n+1):nth-child(-n+3) {height: 314px;}
.gnb4 .m_width>li:nth-child(1) ul, .gnb4 .m_width>li:nth-child(2) ul {width: 50%;}
.gnb4 .m_width>li:nth-child(4),.gnb4 .m_width>li:nth-child(9) {margin-left: 0;}
.gnb4 .m_width>li:nth-child(1),.gnb4 .m_width>li:nth-child(2) {width: 462px;}
.gnb4 .m_width>li:nth-child(n+4):nth-child(-n+8) {height: 139px;}
.gnb4 .m_width>li:nth-child(n+4):nth-child(-n+6) a, .gnb4 .m_width>li:nth-child(12) a {background: none;}
.gnb4 .m_width>li:nth-child(n+9) {height: auto;}
.gnb5 .m_width>li:nth-child(n+1):nth-child(-n+4) {height: 314px;}
.gnb5 .m_width>li:nth-child(5) {margin-left: 0;}
.gnb5 .m_width>li:nth-child(2) {width: 462px;}
.gnb5 .m_width>li:nth-child(2) ul {width: 50%;}
.gnb5 .m_width>li:nth-child(n+5) {height: auto;}
.gnb5 .m_width>li:nth-child(n+5):nth-child(-n+9) a {background: none;}
.gnb6 .width100 {background: #f4f5f9;}
.gnb6 .m_width>li {width: 130px;height: 130px;margin: 0;margin-bottom: 5px;}
.gnb6 .m_width>li>a {display: block;font-size: 15px;color: #000;font-weight: bold;text-align: center;padding: 0;border: 0;border-radius: 0;background: transparent;}
.gnb6 .m_width>li>a::before {content: '';display: block;width: 80px;height: 80px;margin: 0 auto;margin-bottom: 10px;background-repeat: no-repeat;background-position: center;}
.gnb6 .m_width>li:nth-child(1)>a::before {background-image: url(../img/2021_gnb_ico01.png);}
.gnb6 .m_width>li:nth-child(2)>a::before {background-image: url(../img/2021_gnb_ico02.png);}
.gnb6 .m_width>li:nth-child(3)>a::before {background-image: url(../img/2021_gnb_ico13.png);}
.gnb6 .m_width>li:nth-child(4)>a::before {background-image: url(../img/2021_gnb_ico03.png);}
.gnb6 .m_width>li:nth-child(5)>a::before {background-image: url(../img/2021_gnb_ico04.png);}
.gnb6 .m_width>li:nth-child(6)>a::before {background-image: url(../img/2021_gnb_ico05.png);}
.gnb6 .m_width>li:nth-child(7)>a::before {background-image: url(../img/2021_gnb_ico06.png);}
.gnb6 .m_width>li:nth-child(8)>a::before {background-image: url(../img/2021_gnb_ico07.png);}
.gnb6 .m_width>li:nth-child(9)>a::before {background-image: url(../img/2021_gnb_ico08.png);}
.gnb6 .m_width>li:nth-child(10)>a::before {background-image: url(../img/2021_gnb_ico09.png);}
.gnb6 .m_width>li:nth-child(11)>a::before {background-image: url(../img/2021_gnb_ico10.png);}
.gnb6 .m_width>li:nth-child(12)>a::before {background-image: url(../img/2021_gnb_ico11.png);}
.gnb6 .m_width>li:nth-child(13)>a::before {background-image: url(../img/2021_gnb_ico12.png);}
.gnb6 .m_width>li:nth-child(14)>a::before {background-image: url(../img/2021_gnb_ico14.png);}
.gnb6 .m_width>li:nth-child(15)>a::before {background-image: url(../img/2021_gnb_ico15.png);}
.gnb6 .m_width>li:nth-child(16)>a::before {background-image: url(../img/2021_gnb_ico16.png);}
.gnb6 .m_width>li:nth-child(17)>a::before {background-image: url(../img/2021_gnb_ico17.png);}
.gnb6 .m_width>li:nth-child(18)>a::before {background-image: url(../img/2021_gnb_ico18.png);}
.gnb6 .m_width>li:nth-child(19)>a::before {background-image: url(../img/2021_gnb_ico19.png);}
.gnb6 .m_width>li:nth-child(20)>a::before {background-image: url(../img/2021_gnb_ico20.png);}

.main_sitemap{margin-top: 13px;display: flex;}
.main_sitemap a {width: 40px;height: 40px;display: inline-block;background-repeat: no-repeat;background-position: center;}
.main_sitemap a.ham {background-image: url(../img/ico_btnTopTotal.png);}
.main_sitemap a.btnsearch {background-image: url(../img/ico_btnTopSearch.png);}
/* //gnb */

.group1 {width: 100%;padding: 50px 0 90px;background: linear-gradient(180deg,#f7f7f7 0,#fff 40%,#fff 100%);}
.group1_top {display: flex;justify-content: center;}
.search_box_wrap {padding: 3px;border-radius: 10px;box-sizing: border-box;position: relative;margin: 0 5.42857142857% 0 6.42857142857%;width: 100%;max-width: 600px;}
.search_box {width: 100%;height: 50px;position: relative;z-index: 2;border-radius: 8px;border: 2px solid #636677;}
select ,input{border: none;}
.collection {width: 130px;height: 50px;font-size: 15px;color: #333;letter-spacing: -1px;padding: 0 20px 0 5px;border-radius: 10px;background-color: transparent;}
.keyword_input {width: 418px;height: 50px;padding: 0 10px;font-size: 15px;color: #b8b8b8;letter-spacing: .2px;background-color: transparent;}
.search_btn {width: 50px;height: 50px;background: #636677;border-radius: 7px;position: absolute;top: 0;right: 0;}
.search_btn_ico {background: url(../img/ico_search.png) no-repeat;width: 31px;height: 33px;margin: 9px;}
.keyword_area {width: 635px;height: 26px;display:flex;position: relative;margin-top: 15px;}
.keyword_area h5 {margin: 0 18px 0 22px;font-size: 16px;font-weight: 800;color: #000;}
.keyword_slider_btn {width: 30px;height: 25px;position: absolute;top: 1px;right: 17px;}
.keyword_slider_btn .slider_prev {width: 5px;height: 10px;margin-top: 5px;background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/search_prev.png);}
.keyword_slider_btn .slider_next {width: 5px;height: 10px;margin: 5px 7px 0 0;background: url(https://www.seongnam.go.kr/include/cmm_new/image/layout/search_next.png);}
.keyword_list {max-width: 100%;}
.keyword_list .keyword_wrap {width: 100%;overflow: hidden;position: relative;height: 27px;}
.keyword_wrap .list_wrap {width: 10215%;position: relative;transition-duration: 0s;transform: translateX(0px);}
.keyword_wrap .list_wrap .list {position: relative;margin-right: 20px;display: inline-block;}

.weather_box{margin-top: 15px;}
.weather_info::after{content: '';display: inline-block;background: url(../img/notice_more.png)no-repeat;}

.weather_info .txt {font-size: 15px;color: #888;margin-left: 10px;}
.weather_info .air_ico {width: 32px;height: 32px;margin: 2px 3px 0 0;}
.weather_info .state.good  {color: #32a1ff;}

.corona_area{display: flex;flex-direction: column;}
.corona_area .tit span{font-family: 'Nanum Gothic', sans-serif;padding:  0 5px;}
.corona_area .tit::before{content: '';display: inline-block;background: url(../img/ico_corona.png) no-repeat;width: 27px;height: 27px;vertical-align: middle;}
.corona_area .tit::after{content: '';display: inline-block;background: url(../img/ico_coronaLink.png) no-repeat;width: 19px;height: 19px;vertical-align: middle;}
.corona_area .count{display: flex;align-items: center;justify-content: center; background: #fff;height: 28px;margin: 5px 0;padding: 0 15px;border-radius: 28px;box-shadow: 0 4px 15px rgb(0 0 0 / 7%);font-family: 'Nanum Gothic', sans-serif;}
.corona_area .count .day{color: #d84048;}
.corona_area .count .total{margin-left: 7px;padding-left: 8px;position: relative;}
.corona_area .count .total::before{content: "";position: absolute;left: 0;top: 50%;width: 2px;height: 2px;margin-top: -1px;background: #999;border-radius: 100%;}
.corona_area .count .date{font-size: 13px;color: #909090;}
/* // group1_top */

.group1_bottom{margin-top: 50px;display: flex;}
.group1 .mainbn_area {width: 835px;height: 420px;box-shadow: 3px 3px 8px rgba(0,0,0,25%);border-radius: 20px;}
.mainbn_area .mainbn_box {width: 720px;height: 385px;position: relative;}
#brandVisual{position: relative;width: 100%;height:100%;border-radius: 20px;box-shadow: 0 4px 15px rgb(0 0 0 / 7%);}
#brandVisual .visual_slide{width: 100%; height:100%;border-radius: 20px;}
#brandVisual .visual_slide li a{position:absolute;background-repeat: no-repeat;background-position:50% 0;width:100%;height:100%;}
.mainbn_box ul {width: 100%;position: absolute;top: 0;left: 0;overflow: hidden;}
.mainbn_box li img {width: 100%;height: 100%;}
#brandVisual .main_bn_slider_btn .slider_prev,#brandVisual .main_bn_slider_btn .slider_next{cursor: pointer;}
.hidden{display:block; overflow: hidden; width:0; height: 0; line-height: 0; text-indent: -99999px;}
#brandVisual .buttonList:after{content:''; display:block; clear:both;}
#brandVisual .buttonList>li.on{background-position:0 0;}
.main_bn_control {width: 700px;height: 42px;padding: 3px 10px;position: absolute;top: 430px;}
.main_bn_slider_btn {display: flex;width: 155px;height: 32px;}
.main_bn_slider_btn li {font-size: 16px;color: #333;}
.main_bn_slider_counter {width: 78px;height: 30px;margin: 10px 8px 0 0;}
.main_bn_list_btn a {display: block;text-indent: -999999px;width: 32px;height: 32px;background: url(../img/main_bn_list.png) no-repeat center;background-size: 17px;position: relative;}

.main_bn_list_btn a::after {content: '';width: 28px;height: 28px;border: 2px solid #566d99;border-radius: 50%;position: absolute;top: 0;left: 0;}
.main_area {width: 450px;margin-left: 30px;}

.mayor_area{width: 520px;}
.mayor_visual {margin-left: 42px;padding: 86px 20px;display: flex;flex-direction: column;position: relative;}
.mayor_visual p, .link{display: flex;align-content: flex-start;font-size: 20px;color: #222;align-items: flex-end;}
.mayor_visual .link{font-size: 19px;color: #333;background-color: #f8dee0;border-radius: 46px;box-sizing: border-box;align-items: center;justify-content: space-between;width: 180px;height: 46px;padding: 5px 12px 5px 22px;margin-top: 40px;}
.mayor_visual .link:after{content: "";width: 30px;height: 30px;background: #fff url(../img/mayor_arr.png) no-repeat 50% 50%;border-radius: 100%;}
.mayor_visual p span.strong{font-size: 30px;color: #333;}
.mayor_tit img {margin-left: 320px;}
.mayor_img{position: absolute;top: 16px;right: -30px;}
.mayor_link {margin-left: 42px;height: 115px; display: flex;background-color: #d84048;border-radius: 15px;box-sizing: border-box;z-index: 10;align-items: center;}
.mayor_link li {line-height: 22px;width: 25%;}
.mayor_link li a {display: block;padding: 10px 0 11px 15px;font-size: 15px;color: #fff;letter-spacing: -1.5px;word-spacing: -1px;}
.mayor_link li a::before {content: '';background: url(../img/ico_mayorItem.png) no-repeat 0 0;width: 44px;height: 44px;margin-bottom: 9px;display: inline-block;}
.mayor_link li a span{display: flex;flex-direction: column;}
.mayor_link li:nth-child(2) a.mayor_item::before{background-position-x: -44px;}
.mayor_link li:nth-child(3) a.mayor_item::before{background-position-x: -88px;}
.mayor_link li:nth-child(4) a.mayor_item::before{background-position-x: -132px;}
/* // group 1 */

.group2 {width: 100%; background: #f5f8f9;}
.group2>.inner{display: flex;}

.service_area{position: relative;padding: 60px 35px 90px 0;background-image: url(../img/mainService_bg01.png),url(../img/mainService_bg02.png);background-repeat: no-repeat;background-position: 0 100%, 100% 100%;z-index: 1;}
.titlebox {font-size: 30px;color: #333;font-weight: 600;text-align: left;padding-bottom: 35px;line-height: 1.1;display: flex;}
.service_area .tab_menu{margin: 20px 0;}
.service_box {margin-top: 20px;position: relative;overflow: hidden;display: flex;}
.service_box li{width: 180px;margin-right: 10px;}
.service_box li:last-child{margin-right: 0px;}
.service_box li a{height: 65px;font-size: 21px;color: #333;background-color: #fff;border-radius: 10px;display: block;}
.tabgroup .div.active{display: block;}
.tabgroup .tab_content a{width: 20%;display: flex;}

.pc-tab > input,
.pc-tab .cont_area > div {
    display: none;
}
#tab1:checked ~ .cont_area .tab1,
#tab2:checked ~ .cont_area .tab2,
#tab3:checked ~ .cont_area .tab3,
#tab4:checked ~ .cont_area .tab4,
#tab5:checked ~ .cont_area .tab5 {
  display: block;
}
.pc-tab {width: 100%;max-width: 950px;}
.pc-tab ul {display: flex;}
.pc-tab ul li{width: 20%;padding-right: 10px;}
.pc-tab ul li:last-child{padding-right: 0px;}
.pc-tab ul li label {background: #fff;color: #333;cursor: pointer;border-radius: 10px;height: 65px;font-size: 21px;display: flex;align-items: center;padding: 0 11px;width: 80%;justify-content: center;font-weight: 600;}
.tab_list li label::before{display: inline-block;background-repeat: no-repeat;}
.tab_list li:first-child label::before{content: "";background-image: url(../img/mainService_01.png);width: 40px;height: 31px;}
.tab_list li:nth-child(2) label::before{content: "";background-image: url(../img/mainService_02.png);width: 29px;height: 43px;}
.tab_list li:nth-child(3) label::before{content: "";background-image: url(../img/mainService_03.png);width: 39px;height: 40px;}
.tab_list li:nth-child(4) label::before{content: "";background-image: url(../img/mainService_04.png);width: 37px;height: 32px;}
.tab_list li:nth-child(5) label::before{content: "";background-image: url(../img/mainService_05.png);width: 34px;height: 33px;}
.pc-tab .cont_area div {padding: 20px 0;letter-spacing: 0.3px;color: #444;text-align: left;min-height: 210px;}
.pc-tab .cont_area div a{padding: 0 5px;background-color: #fff;display: inline-flex;margin:0 12px 5px 0px;height: 55px; border-radius: 7px;justify-content: center;align-items: center;width: 211px;box-shadow: 0 4px 15px rgb(0 0 0 / 7%);}
.pc-tab .cont_area div a:nth-child(n+1):nth-child(-n+4),.pc-tab .cont_area div a:nth-child(n+5):nth-child(-n+8){margin-bottom: 17px;}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label,
#tab5:checked ~ nav .tab5 label {
  background: #d84048;
  color: #fff;
  position: relative;
  font-weight: 600;
}
.city_info_wrap{width: 360px;padding: 60px 0 60px 35px;}
.city_info_wrap .titlebox{display: flex;align-items: flex-end;}
.city_info_wrap .titlebox span{font-size: 18px;margin-left: 15px;margin-bottom: 2px;letter-spacing: -1.5px;}

.city_info{display: flex;flex-wrap: wrap;}
.city_info a{width: 33.33%;display: flex;flex-direction: column;align-items: center;text-align: center;line-height: 1.1;font-size: 16px;color: #333;}
.city_info a::before{content: "";background-color: #fff;width: 90px;height: 90px;margin-bottom: 15px;background-repeat: no-repeat;background-position: 0 0;border-radius: 10px;box-shadow: 0 4px 15px rgb(0 0 0 / 7%);display: inline-block;}
.city_info a:hover::before{background-color: #f8dee0;}
.city_info a:nth-child(n+4){margin-top: 26px;}
.city_info a:nth-child(1)::before{background-image: url(../img/cityInfo_01.png);}
.city_info a:nth-child(2)::before{background-image: url(../img/cityInfo_02.png);}
.city_info a:nth-child(3)::before{background-image: url(../img/cityInfo_03.png);}
.city_info a:nth-child(4)::before{background-image: url(../img/cityInfo_04.png);}
.city_info a:nth-child(5)::before{background-image: url(../img/cityInfo_05.png);}
.city_info a:nth-child(6)::before{background-image: url(../img/cityInfo_06.png);}
/* // group2 */

.group3 {width: 100%;padding: 30px 0;}
.group3>.inner{display: flex;justify-content: space-between;}

#tabs{width: 940px;position: relative;}
#tabs .tab_list{overflow: hidden;display: flex;}
#tabs .tab_list li{border: 1px solid #e7e7e7;margin-left: -1px;width: 20%;}
#tabs .tab_list li a{padding: 25px 39px;display: inline-block;}
#tabs .tab_list li.ui-state-active{background-color: #d84048;color: #fff;}
#tabs .tab_list li.ui-state-active a{color: #fff;}
#tabs .tab_list li:first-child a {font-weight: bold;}
.news_list {width: 692px; min-height: 260px;position: relative;padding-left: 300px;}
.news_list li {margin-top: 9px;font-size: 16px;position: relative;width: 590px;}
.news_list li.first{position: absolute;left: 0;top: 0;align-content: flex-start;width: 260px;height: 260px;padding: 25px;border: 1px solid #e6e8eb;border-radius: 15px;box-sizing: border-box;margin-top: 0;}
.news_list li.first a{display: unset;}
.news_list li.first a:hover .txt_tit{color: #d84048;}
.news_list li a{display: flex;justify-content: space-between;}
.news_list li a:hover .txt_sub{color: #d84048;}
.news_list li a::before {content: '';width: 4px;height: 4px;background-color: #6e6e6e;border-radius: 100%;display: inline-block;position: absolute;top: 50%;left: 0;}
.news_list li a p{font-size: 17px;line-height: 28px;}
.tab_menu .cont_area .cont{display:none;margin-top: 35px;}
.noticelist_area a {display: block;color: #000;font-size: 16px;line-height: 55px;text-align: center;}
.txt_tit {font-size: 18px;font-weight: 600;line-height: 30px;text-align: left; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.txt_con {color: #666;text-align: left;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 4;}
.txt_sub {color: #000;width: 500px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;text-align: left;margin-left: 10px;}
.txt_date {color: #c0c0c1;padding-right: 2px;}
.first .date_box_area{display: flex;justify-content: space-between;margin-bottom: 10px;}
.first .datebox{font-size: 18px;color: #d84048;font-weight: bold;}
.first .new{background-color: #6e6e6e;font-size: 12px;color: #fff;border-radius: 20px;width: 45px;height: 20px;display: flex;align-items: center;justify-content: center;}

.noticethumb_area {width: 402px;margin-left: 1px;}
.info_area {margin-bottom: 50px; display: flex;justify-content: space-between;align-items: center;}
.info_area li {transition: .3s;}
.info_area a {display: flex;align-items: center;color: #333;text-align: center;font-size: 19px;font-weight: bold;}
.info_area li a::before {content: '';display: block;background-position: center;background-repeat: no-repeat;margin-right: 10px;}
.info_area li a:hover {color: #d84048;}
.info_area a:hover::before {transform: rotateY(360deg); transition: transform .6s ease-in-out;}
.info_area li:nth-child(1) a::before {background-image: url(../img/noticeIcon_01.png);width: 35px;height: 33px;}
.info_area li:nth-child(2) a::before {background-image: url(../img/noticeIcon_02.png);width: 37px;height: 33px;}
.info_area li:nth-child(3) a::before {background-image: url(../img/noticeIcon_03.png);width: 36px;height: 37px;}
.noticebn_area {width: 402px;}
.noticebn_box {width: 402px;height: 232px;position: relative;border: 1px solid #eaeaea;border-radius: 10px;display: flex;overflow: hidden;}
.noticebn_box ul {width: 100%;height: 232px;position: absolute;top: 0;left: 0;overflow: hidden;}
.noticebn_box li {width: 402px;height: 232px;top: 0;left: 95px;overflow: hidden;}
.noticebn_box li img {width: 100%;height: 100%;margin: 0 auto;}
/* .noticebn_control {width: 380px;height: 32px;padding: 3px 10px;border: 1px solid #eaeaea;position: relative;}
.noticebn_control h5 {margin-right: 10px;font-size: 18px;color: #000;font-weight: 600;line-height: 32px;}
.noticebn_slider {width: 146px;height: 30px;margin-top: 4px;}
.noticebn_slider a {font-size: 16px;color: #000;} */

.bx-prev{position: absolute;left: 166px;top: 206px;}
.bx-next{position: absolute;left: 206px;top: 206px;}
.bx-pager {display: none;}
.noticebn_slider_counter {width: 50px;height: 30px;margin-right: 15px;}
.noticebn_list_btn {display: block;text-indent: -999999px;width: 30px;height: 30px;background-size: 17px;background: url(../img/notice_bn_list.png) no-repeat center;border-radius: 50%;border: 1px solid #e7e7e7;}
.bx-wrapper {position: relative;padding: 0;*zoom: 1;-ms-touch-action: pan-y;touch-action: pan-y;}
.bx-wrapper img {max-width: 100%;display: block;}
.bxslider {margin: 0;padding: 0;}
.bx-wrapper {border: 1px solid #fff;background: #fff;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.bx-wrapper .bx-loading {min-height: 50px;background: url('images/bx_loader.gif') center center no-repeat #ffffff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;padding-top: 20px;}
.bx-wrapper .bx-pager.bx-default-pager a {background: #666;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{
    display: inline-block;
    vertical-align: bottom;
    *zoom:1;
    *display:inline;
}
.bx-wrapper .bx-pager-item {font-size: 0;line-height: 0;}
.bx-wrapper .bx-prev {left: 10px;background: url(../images/controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
    background-position: 0 0;
}
.bx-wrapper .bx-next {right: 10px;background: url(../images/controls.png) no-repeat -43px -32px;left: 600px;}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus{
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction{position: relative;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -115px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url('images/controls.png') -86px -11px no-repeat;margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus{
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {display: block;text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url('images/controls.png') -86px -44px no-repeat;margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus{
    background-position: -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;width: 80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}
.bx-wrapper .bx-caption {position: absolute;bottom: 0;left: 0;background: #666;background: rgba(80, 80, 80, 0.75);width: 100%;}
.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;padding: 10px;}
/* // group3 */

.group4 {width: 100%;margin-top: 30px;padding-bottom: 80px;}
.group4>.inner{display: flex;justify-content: space-between;}

.event_area{width: 995px;}
.event_area .titlebox{justify-content: space-between;}
.event_more {margin-top: 5px;font-size: 16px;color: #666;}
.event_list {margin-top: 20px; display: flex;}
.event_box {width: 315px;margin-right: 25px;border: 1px solid #e8e8e8;box-sizing: border-box;border-radius: 15px;transition: all .3s;}
.event_box:hover{border: 1px solid #d84048;}
.event_box:hover .tit{color: #d84048;}
.event_box .event_image {position: relative;overflow: hidden;width: 100%;height: 212px;border-radius: 15px 15px 0 0;}
.event_box .event_image img {width: 100%;height: 212px;position: absolute;top: 0;left: 0;}

.event_txt {padding: 20px;border-top: 1px solid #e8e8e8;font-size: 16px;display: flex;flex-wrap: wrap;justify-content: space-between;}
.event_txt .tit {font-weight: 600;height: 87px;width: 100%;margin-top: 15px;font-size: 18px;line-height: 1.6;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;word-wrap: break-word;-webkit-line-clamp: 3;-webkit-box-orient: vertical;text-align: initial;}
.event_txt .date {color: #777;display:flex;align-items: center;height: 24px;}
.event_txt .cate{border: 1px solid #ddd;border-radius: 24px;display: flex;align-items: center;justify-content: center;width: 50px;height: 24px;}
.event_txt .cate_green{color: #7c9927;border-color: #7c9927;}
.event_txt .cate_pupple{color: #9363c0;border-color: #8252c0;}
.event_txt .cate_blue{color: #3f5f9c;border-color: #3f5f9c;}
/* // group4 */

.sns_area {width: 360px;border-left: none;box-sizing: border-box;overflow: hidden;}
/* .sns_slider_btn {width: 75px;margin: 0px 0 0 10px;}
.sns_slider_btn .slider_prev {width: 9px;height: 15px;margin: 0 10px 0 5px;background: url(../images/notice_bn_prev.png);}
.sns_slider_btn .slider_stop {width: 12px;height: 14px;margin: 0 10px 0 5px;line-height: 14px;}
.sns_slider_btn .slider_next {width: 9px;height: 15px;margin: 0 10px 0 5px;background: url(../images/notice_bn_next.png);} */


.snsbn_box {width: 528px;height: 324px;overflow: hidden;position: relative;margin-top: 20px;}
.snsbn_box ul {width: 100%;height: 324px;position: absolute;top: 0;display: flex;flex-wrap: wrap;}
.snsbn_box li {width: 264px;margin-bottom: 13px;}
.snsbn_box li a{display: block;margin-right:20px;position: relative;border-radius: 15px;overflow: hidden;}
.sns_img {width: 242px;height: 155px;position: relative;background-size: 242px 140px !important;}
.snsbn_box .list1 li:nth-child(1) .sns_img {background: url(https://www.seongnam.go.kr/attach/mainSns/20220227193021_B.jpg) no-repeat;}
.snsbn_box ul li a::after {content: '';width: 34px;height: 34px;position: absolute;top: -17px;left: 5px;}
.sns_txt {width: 242px;padding: 5px;position: absolute;bottom: 0px;font-size: 15px;color: #fff;font-weight: 600;text-align: center;background-color: rgba(0, 0, 0, .7);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;box-sizing: border-box;}
.snsbn_box .list1 li:nth-child(1) .sns_img::after {background: url(../img/sns_ico05.png);}
.snsbn_box .list1 li:nth-child(2) .sns_img {background: url(../img/20220314193212_V.jpg);}
.snsbn_box .list1 li:nth-child(2) .sns_img::after {background: url(../img/sns_ico01.png);}
.snsbn_box .list1 li:nth-child(3) .sns_img {background: url(../img/20211212090859_U.jpg);}
.snsbn_box .list1 li:nth-child(3) .sns_img::after {background: url(../img/sns_ico03.png);}
.snsbn_box .list1 li:nth-child(4) .sns_img {background: url(../img/20211112103107_F.jpg);}
.snsbn_box .list1 li:nth-child(4) .sns_img::after {background: url(../img/sns_ico02.png);}
.snsbn_box a i{position: absolute;top: 86px;right: 5px;}
.snsbn_box a:hover i {
    animation: bounce02 .3s ease-in-out 2 alternate;}
@keyframes bounce02 {
    100% {transform: translateY(-10px);}
}
.snsbn_box a:hover .sns_txt {text-decoration: underline;}
.sns_ico {width: 360px;display: flex;justify-content: space-between;margin-top: 20px;}
.sns_ico_img {width: 40px;height: 40px;margin-left: 5px;background-repeat: no-repeat;background-size: cover;background-position: 0 0;}
.sns_ico li:nth-child(1) .sns_ico_img {background-image: url(../img/sns_ico01.png);}
.sns_ico li:nth-child(2) .sns_ico_img {background-image: url(../img/sns_ico02.png);}
.sns_ico li:nth-child(3) .sns_ico_img {background-image: url(../img/sns_ico03.png);}
.sns_ico li:nth-child(4) .sns_ico_img {background-image: url(../img/sns_ico04.png);}
.sns_ico li:nth-child(5) .sns_ico_img {background-image: url(../img/sns_ico05.png);}
.sns_ico li:nth-child(6) .sns_ico_img {background-image: url(../img/sns_ico06.png);}


.familysite_area{border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;}
.familysite_area .familysite{display: flex;color: #333;}
.familysite_area .familysite li{width: 33.33%;}
.familysite_area .familysite li a{height: 58px; padding:0 25px;font-size: 17px;border-right: 1px solid #e8e8e8;display: flex;align-items: center;justify-content: space-between;font-family: 'Nanum Gothic', sans-serif;}
.familysite_area .familysite li:first-child a{border-left: 1px solid #e8e8e8;}
.familysite_area .familysite li a::after{content: "";width: 14px;height: 8px;background: url(../img/arr_select2.png) no-repeat 0 0;transition: all .3s;}

.footer_fnb {padding:30px 0 60px 20px;display: flex;}
.footer_fnb li {margin-right: 15px;padding-right: 18px;line-height: 30px;position: relative;}
.footer_fnb li a {display: block;}
.footer_fnb li::after {content: '';width: 3px;height: 3px;background: #bababa;position: absolute;top: 50%;right: 0;border-radius: 100%;}
.addr_box {width: 100%;padding-left: 414px;}
.addr {width: 380px;margin-top: 14px;}
.addr address {padding-right: 17px;font-size: 15px;color: #333;font-style: normal;position: relative;}
.addr address::after {content: '';width: 1px;height: 13px;background: #d2d2d2;position: absolute;top: 50%;right: 0;margin-top: -6px;}
.addr cite {margin-top: 5px;font-size: 15px;color: #999;letter-spacing: 0;font-style: normal;}
.mark_list {position: absolute;top: -15px;left: 851px;}
.mark_area{display: flex;justify-content: center;padding: 13px 679px;}
#back-to-top {position: fixed;bottom: 3em;right: 3em;background: #6a83b5;width: 40px;height: 20px;padding: 10px;line-height: 20px;color: #fff;display: inline-block;text-align: center;text-transform: uppercase;opacity: 0;transition: all .5s;border-radius: 50px;}
#back-to-top.visible {opacity: 1;}
.counter {display: none;}